@font-face {
    font-family: sahel;
    src: url("/static/fonts/sahel.ttf");
  }
* {
    direction: rtl;
    font-family: sahel;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar {
  margin-bottom: 15;
}
.card-group, .carousel{
  position: relative;
  top: 80px;

}

img{
   
    max-height:200px;
    max-width:200px;
    height:auto;
    width:auto;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
 .card-group{
    
 }
.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}
a{
    text-decoration: none
}

#content-main{
  direction: rtl;
}